body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 90px;
}

/* a clear start */

/* 去除a标签下划线 */
a {
  text-decoration: none;
}

/* 去除未被访问的a标签的下划线 */
a:link {
  text-decoration: none;
}

/* 去除已经被访问过的a标签的下划线 */
a:visited {
  text-decoration: none;
}

/* 去除鼠标悬停时的a标签的下划线 */
a:hover {
  text-decoration: none;
}

/* 去除正在点击的a标签的下划线（鼠标按下，尚未松开） */
a:active {
  text-decoration: none;
}

/* 去除获得焦点的a标签的下划线（被鼠标点击过） */
a:focus {
  text-decoration: none;
}

/* a clear end */
#app {
  width: 100%;
  height: 100%;

  .el-row {
    height: 100%;

    .menu_bg {
      padding-right: 0 !important;
      height: 100%;
      background-color: #000;
    }
  }
}
