.data-serch-layout {
  width: 100%;
  height: 100%;
  background-color: #ebecf0;

  .data-serch-head {
    width: 100%;
    height: 40px;
    background-color: #fff;
  }

  .demo-tabs > .el-tabs__content {
    font-size: 0.6rem;
  }
}
